@model KRNL.Models.MessageCreate

@{
    ViewBag.Title = "CreateRequest";
}

@*<h2>Request New Job</h2>*@

<div>
    <img class="titlePic" src="/Content/krnlpics/tNewJobRequestW.png" alt="KRNL">
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>MessageCreate</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger", toggleView = "requestView" })

        <div class="form-group">
            @Html.LabelFor(model => model.LocationId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LocationId", new SelectList(ViewBag.locations, "LocationId", "LocationCode"), null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 enumDropDown">
                @Html.EnumDropDownListFor(model => model.Rating, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HumanGrowthStage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 enumDropDown">
                @Html.EnumDropDownListFor(model => model.HumanGrowthStage, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HumanGrowthStage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobOne, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 enumDropDown">
                @Html.EnumDropDownListFor(model => model.JobOne, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.JobOne, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobTwo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 enumDropDown">
                @Html.EnumDropDownListFor(model => model.JobTwo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.JobTwo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobThree, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 enumDropDown">
                @Html.EnumDropDownListFor(model => model.JobThree, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.JobThree, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CooperatorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CooperatorId", new SelectList(ViewBag.cooperators, "CooperatorId", "FullName"), null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CooperatorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 jobComment">
                @Html.TextAreaFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control jobComment" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="basicButton" />
            </div>
        </div>
    </div>
}
<br/>
<div>
    @Html.ActionLink("Back to JOBS", "Index", new { toggleView = "requestView" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
