@model KRNL.Models.MessageDetail

@{
    ViewBag.Title = "Delete";
}

<h3>Delete Job?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color deleteButtons">
        <input type="submit" value="Delete" class="btn btn-default deleteButton" />
    </div>
}

@*<h3>Are you sure you want to delete this job?</h3>*@
<div>
    @*<h4>MessageDetail</h4>*@

    @Html.HiddenFor(model => model.MessageId)
    @Html.HiddenFor(model => model.OwnerId)
    @Html.HiddenFor(model => model.LocationId)

    <table class="table message">
        <tr class="messageHeader">
            <th width=16% class="messageHeaderTopLeft">
                @*@Html.DisplayNameFor(model => model.LocationCode)*@
            </th>
            <th width=28%>
                @*@Html.DisplayNameFor(model => model.DateCreated)*@
            </th>
            <th width=28%>
                @*@Html.DisplayNameFor(model => model.PredictedGrowthStage)*@
            </th>
            <th width=28% class="messageHeaderTopRight">
                Job
                @*@Html.DisplayNameFor(model => model.HumanGrowthStage)*@
            </th>
        </tr>
        <tr class="spacer">
            <td class="spacer" colspan="4"></td>
        </tr>
        <tbody class="comment">
            <tr class="messageTop">
                <td class="message messageTopLeft">
                    <div class="messageLabel">Location:</div>
                    @Html.ActionLink(Model.LocationCode.ToUpper(), "Edit", "Location", new { id = Model.LocationId }, null)
                </td>
                <td class="message">
                    <div class="messageLabel">Date:</div>
                    @Html.DisplayFor(model => model.DateCreated)
                </td>
                <td class="message ">
                    <div class="messageLabel">Growth Stage:</div>
                    @Html.DisplayFor(model => model.HumanGrowthStage)
                </td>
                <td class="message messageTopRight alignRight">
                    @*<a href="@Url.Action("Edit", "Message", new { id = Model.MessageId})"><img class="editIcon" src="/img/iedit.png" alt="KRNL"></a>*@
                </td>
            </tr>
            <tr class="messageBottom">
                <td class="messageBottomLeft" colspan="2">
                    @if (Model.Comment != null)
                    {
                        <p class="comment">
                            @Html.DisplayFor(model => model.Comment)
                        </p>
                    }
                    @Html.DisplayFor(model => model.FullName)
                    <br />
                    @switch (Model.Rating)
                    {
                        case KRNL.Data.rating.Excellent:
                            <img class="ratingIcon" src="/img/rexcellent.png" alt="KRNL">
                            break;
                        case KRNL.Data.rating.AboveAverage:
                            <img class="ratingIcon" src="/img/raboveaverage.png" alt="KRNL">
                            break;
                        case KRNL.Data.rating.Average:
                            <img class="ratingIcon" src="/img/raverage.png" alt="KRNL">
                            break;
                        case KRNL.Data.rating.BelowAverage:
                            <img class="ratingIcon" src="/img/rbelowaverage.png" alt="KRNL">
                            break;
                        case KRNL.Data.rating.Poor:
                            <img class="ratingIcon" src="/img/rpoor.png" alt="KRNL">
                            break;
                        default:
                            break;
                    }
                </td>
                <td class="messageBottomRight alignRight vertBottom" colspan="2">
                    @switch (Model.JobOne)
                    {
                        case KRNL.Data.job.Cultivating:
                            <img class="messageIcon vertBottom" src="/img/iplow.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.DroneFlight:
                            <img class="messageIcon vertBottom" src="/img/idrone.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Harvesting:
                            <img class="messageIcon vertBottom" src="/img/icombine.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.HerbicideSpraying:
                            <img class="messageIcon vertBottom" src="/img/iherbicide.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.InsecticideSpraying:
                            <img class="messageIcon vertBottom" src="/img/iinsecticide.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.NitrogenApplication:
                            <img class="messageIcon vertBottom" src="/img/initrogen.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Notes:
                            <img class="messageIcon vertBottom" src="/img/inotes.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.PlantEarHeights:
                            <img class="messageIcon vertBottom" src="/img/ipande.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Planting:
                            <img class="messageIcon vertBottom" src="/img/iplanter.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Rowbanding:
                            <img class="messageIcon vertBottom" src="/img/iband.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Staking:
                            <img class="messageIcon vertBottom" src="/img/istake.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.StandCounts:
                            <img class="messageIcon vertBottom" src="/img/istandcounts.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.WeedManagement:
                            <img class="messageIcon vertBottom" src="/img/ihoe.png" alt="KRNL">
                            break;
                        default:
                            break;
                    }

                    @switch (Model.JobTwo)
                    {
                        case KRNL.Data.job.Cultivating:
                            <img class="messageIcon vertBottom" src="/img/iplow.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.DroneFlight:
                            <img class="messageIcon vertBottom" src="/img/idrone.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Harvesting:
                            <img class="messageIcon vertBottom" src="/img/icombine.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.HerbicideSpraying:
                            <img class="messageIcon vertBottom" src="/img/iherbicide.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.InsecticideSpraying:
                            <img class="messageIcon vertBottom" src="/img/iinsecticide.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.NitrogenApplication:
                            <img class="messageIcon vertBottom" src="/img/initrogen.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Notes:
                            <img class="messageIcon vertBottom" src="/img/inotes.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.PlantEarHeights:
                            <img class="messageIcon vertBottom" src="/img/ipande.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Planting:
                            <img class="messageIcon vertBottom" src="/img/iplanter.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Rowbanding:
                            <img class="messageIcon vertBottom" src="/img/iband.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Staking:
                            <img class="messageIcon vertBottom" src="/img/istake.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.StandCounts:
                            <img class="messageIcon vertBottom" src="/img/istandcounts.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.WeedManagement:
                            <img class="messageIcon vertBottom" src="/img/ihoe.png" alt="KRNL">
                            break;
                        default:
                            break;
                    }

                    @switch (Model.JobThree)
                    {
                        case KRNL.Data.job.Cultivating:
                            <img class="messageIcon vertBottom" src="/img/iplow.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.DroneFlight:
                            <img class="messageIcon vertBottom" src="/img/idrone.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Harvesting:
                            <img class="messageIcon vertBottom" src="/img/icombine.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.HerbicideSpraying:
                            <img class="messageIcon vertBottom" src="/img/iherbicide.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.InsecticideSpraying:
                            <img class="messageIcon vertBottom" src="/img/iinsecticide.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.NitrogenApplication:
                            <img class="messageIcon vertBottom" src="/img/initrogen.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Notes:
                            <img class="messageIcon vertBottom" src="/img/inotes.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.PlantEarHeights:
                            <img class="messageIcon vertBottom" src="/img/ipande.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Planting:
                            <img class="messageIcon vertBottom" src="/img/iplanter.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Rowbanding:
                            <img class="messageIcon vertBottom" src="/img/iband.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Staking:
                            <img class="messageIcon vertBottom" src="/img/istake.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.StandCounts:
                            <img class="messageIcon vertBottom" src="/img/istandcounts.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.WeedManagement:
                            <img class="messageIcon vertBottom" src="/img/ihoe.png" alt="KRNL">
                            break;
                        default:
                            break;
                    }
                </td>
            </tr>
        </tbody>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back to JOBS", "Index")
        </div>
    }
</div>
