@model KRNL.Models.MessageDetail

@{
    ViewBag.Title = "Details";
}

<h2>Message</h2>

<div>
    <br />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MessageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
