@model IEnumerable<KRNL.Models.MessageListItem>

@{
    ViewBag.Title = "Index";
}

@*<h2>Job Log</h2>*@

@switch (ViewBag.ToggleRequestJob)
{
    case "jobView":
        <div class="titleJobPic">
            <img class="titlePic titleJob" src="/Content/krnlpics/tJobLogR.png" alt="KRNL"><img class="titlePic titleRequest off" src="/Content/krnlpics/tRequestsR.png" alt="KRNL">
        </div>

        <div class="titleJobAction">
            <a href="@Url.Action("Create", "Message")">
                <img class="titleAction titleActionJob" src="/Content/krnlpics/tAddJobW.png" alt="KRNL">
            </a>
            <img class="titleAction titleActionRequest off alignRight" src="/Content/krnlpics/tNewJobRequestW.png" alt="KRNL">
        </div>
        break;

    case "requestView":
        <div class="titleJobPic">
            <img class="titlePic titleJob off" src="/Content/krnlpics/tJobLogR.png" alt="KRNL"><img class="titlePic titleRequest" src="/Content/krnlpics/tRequestsR.png" alt="KRNL">
        </div>

        <div class="titleJobAction">
            <img class="titleAction titleActionJob off" src="/Content/krnlpics/tAddJobW.png" alt="KRNL">
            <a href="@Url.Action("CreateRequest", "Message")">
                <img class="titleAction titleActionRequest alignRight" src="/Content/krnlpics/tNewJobRequestW.png" alt="KRNL">
            </a>
        </div>
        break;

    default:
        <div class="titlePic">
            <img class="titlePic titleJob" src="/Content/krnlpics/tJobLogR.png" alt="KRNL"><img class="titlePic titleRequest off" src="/Content/krnlpics/tRequestsR.png" alt="KRNL">
        </div>

        <div class="titleAction">
            <a href="@Url.Action("Create", "Message")">
                <img class="titleAction titleActionJob" src="/Content/krnlpics/tAddJobW.png" alt="KRNL">
            </a>
            <img class="titleAction titleActionRequest off alignRight" src="/Content/krnlpics/tNewJobRequestW.png" alt="KRNL">
        </div>
        break;
}

@*<h4>
        @Html.ActionLink("Log New Job", "Create")
    </h4>*@


@using (Html.BeginForm())
{
    <p>
        <div class="searchBar">
            @Html.TextBox("searchString", (string)ViewBag.SearchString)
            <a class="clearX" href="@Url.Action("Index", "Message", new { toggleView = ViewBag.ToggleRequestJob, searchString = "" })">
                <img class="clearX" src="/Content/krnlpics/iclear.png" alt="KRNL">
            </a>
            <input type="submit" value="Search" class="searchButton" />
        </div>
    </p>
}

<div class="searchBar toggleButton toggleButtonDirectory">
    @switch (ViewBag.ToggleRequestJob)
    {
        case "jobView":
            <a href="@Url.Action("Index", "Message", new { toggleView = "requestView", searchString = ViewBag.SearchString })">
                <img class="navbarLogo" src="/Content/krnlpics/toggleOne.png" alt="KRNL">
            </a>
            break;
        case "requestView":
            <a href="@Url.Action("Index", "Message", new { toggleView = "jobView", searchString = ViewBag.SearchString })">
                <img class="navbarLogo" src="/Content/krnlpics/toggleFour.png" alt="KRNL">
            </a>
            break;
        default:
            <a href="@Url.Action("Index", "Message", new { toggleView = "jobView", searchString = ViewBag.SearchString })">
                <img class="navbarLogo" src="/Content/krnlpics/toggleOne.png" alt="KRNL">
            </a>
            break;
    }
</div>

<table class="table message">
    <tr class="messageHeader">
        <th width=15% class="messageHeaderTopLeft">
            @Html.ActionLink("LocID", "Index", new { sortOrder = "LocID", searchString = ViewBag.SearchString, toggleView = ViewBag.ToggleRequestJob }, new { @class = "sortFont"})
            @*@Html.DisplayNameFor(model => model.LocationCode)*@
        </th>
        <th width=15%>
            @Html.ActionLink("Date", "Index", new { sortOrder = "Date", searchString = ViewBag.SearchString, toggleView = ViewBag.ToggleRequestJob }, new { @class = "sortFont"})
            @*@Html.DisplayNameFor(model => model.DateCreated)*@
        </th>
        <th width=35%>
            @*@Html.DisplayNameFor(model => model.PredictedGrowthStage)*@
        </th>
        <th width=35% class="messageHeaderTopRight">
            Jobs/Requests
            @*@Html.DisplayNameFor(model => model.HumanGrowthStage)*@
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="spacer">
            <td class="spacer" colspan="4"></td>
        </tr>
        <tbody class="comment">
            <tr class="messageTop">
                <td class="message messageTopLeft" colspan="1">
                    <div class="messageLabel">Location:</div>
                    @Html.ActionLink(item.LocationCode.ToUpper(), "Edit", "Location", new { id = item.LocationId }, null)
                </td>
                <td class="message" colspan="1">
                    <div class="messageLabel">Date:</div>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td class="message " colspan="1">
                    <div class="messageLabel">Growth Stage:</div>
                    @Html.DisplayFor(model => item.HumanGrowthStage)
                </td>
                <td class="message messageTopRight alignRight" colspan="1">
                    <a href="@Url.Action("Edit", "Message", new { id = item.MessageId})"><img class="editIcon" src="/Content/krnlpics/iedit.png" alt="KRNL"></a>
                    <a href="@Url.Action("Delete", "Message", new { id = item.MessageId})"><img class="editIcon" src="/Content/krnlpics/idelete.png" alt="KRNL"></a>
                </td>
            </tr>

            <tr>
                <td colspan="1">
                    @if (item.IsRequest == true)
                    {
                        <a href="@Url.Action("CompleteRequest", "Message", new { id = item.MessageId})"><img class="jobCheckPicIcon" src="/Content/krnlpics/reqCheck.png" alt="KRNL"></a>
                    }
                    else
                    {
                        if (item.DocString != null)
                        {
                            <a target="blank" href=@Url.Content(item.DocString)><img class="jobCheckPicIcon" src="/Content/krnlpics/ipicture.png" alt="KRNL"></a>
                        }
                        else
                        {
                            <img class="jobCheckPicIconGrey" src="/Content/krnlpics/ipicture.png" alt="KRNL">
                        }
                    }
                </td>
                @if (item.Comment != null)
                {
                    <td colspan="3">
                        <p class="comment">
                            @Html.DisplayFor(modelItem => item.Comment)
                        </p>
                    </td>
                }
                else
                {
                    <td colspan="3"></td>
                }
            </tr>


            <tr class="messageBottom messageBottomLeft">
                <td colspan="2">
                    @if (item.FullName != null && item.IsRequest == false)
                    {

                        @Html.DisplayFor(modelItem => item.FullName)
                    }
                    else
                    {
                    }
                    <br />
                    @switch (item.Rating)
                    {
                        case KRNL.Data.rating.Excellent:
                            <img class="ratingIcon" src="/Content/krnlpics/rexcellent.png" alt="KRNL">
                            break;
                        case KRNL.Data.rating.AboveAverage:
                            <img class="ratingIcon" src="/Content/krnlpics/raboveaverage.png" alt="KRNL">
                            break;
                        case KRNL.Data.rating.Average:
                            <img class="ratingIcon" src="/Content/krnlpics/raverage.png" alt="KRNL">
                            break;
                        case KRNL.Data.rating.BelowAverage:
                            <img class="ratingIcon" src="/Content/krnlpics/rbelowaverage.png" alt="KRNL">
                            break;
                        case KRNL.Data.rating.Poor:
                            <img class="ratingIcon" src="/Content/krnlpics/rpoor.png" alt="KRNL">
                            break;
                        default:
                            break;
                    }
                </td>

                <td class="messageBottomRight alignRight vertBottom noBottom" colspan="2">
                    @switch (item.JobOne)
                    {
                        case KRNL.Data.job.Cultivating:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/iplow.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.DroneFlight:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/idrone.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Harvesting:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/icombine.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.HerbicideSpraying:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/iherbicide.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.InsecticideSpraying:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/iinsecticide.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.NitrogenApplication:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/initrogen.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Notes:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/inotes.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.PlantEarHeights:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/ipande.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Planting:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/iplanter.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Rowbanding:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/iband.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Staking:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/istake.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.StandCounts:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/istandcounts.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.WeedManagement:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/ihoe.png" alt="KRNL">
                            break;
                        default:
                            break;
                    }

                    @switch (item.JobTwo)
                    {
                        case KRNL.Data.job.Cultivating:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/iplow.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.DroneFlight:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/idrone.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Harvesting:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/icombine.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.HerbicideSpraying:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/iherbicide.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.InsecticideSpraying:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/iinsecticide.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.NitrogenApplication:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/initrogen.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Notes:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/inotes.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.PlantEarHeights:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/ipande.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Planting:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/iplanter.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Rowbanding:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/iband.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Staking:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/istake.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.StandCounts:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/istandcounts.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.WeedManagement:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/ihoe.png" alt="KRNL">
                            break;
                        default:
                            break;
                    }

                    @switch (item.JobThree)
                    {
                        case KRNL.Data.job.Cultivating:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/iplow.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.DroneFlight:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/idrone.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Harvesting:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/icombine.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.HerbicideSpraying:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/iherbicide.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.InsecticideSpraying:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/iinsecticide.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.NitrogenApplication:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/initrogen.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Notes:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/inotes.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.PlantEarHeights:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/ipande.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Planting:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/iplanter.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Rowbanding:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/iband.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.Staking:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/istake.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.StandCounts:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/istandcounts.png" alt="KRNL">
                            break;
                        case KRNL.Data.job.WeedManagement:
                            <img class="messageIcon vertBottom" src="/Content/krnlpics/ihoe.png" alt="KRNL">
                            break;
                        default:
                            break;
                    }
                </td>
            </tr>
        </tbody>
    }
</table>

