<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <img class="navbarLogo" src="/img/krnlTransparent.png" alt="KRNL">

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("HOME", "Index", "Home")</li>*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("LOCATIONS", "Index", "Location")</li>
                        <li>@Html.ActionLink("COOPERATORS", "Index", "Cooperator")</li>
                        <li>@Html.ActionLink("JOB LOG", "Index", "Message")</li>
                    }
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        @*<br />*@
        @*<img class="navbarLogoFooter" src="/img/kernel.png" alt="KRNL">*@

        <footer class="footer">
            <p>&copy; @DateTime.Now.Year | Trevor R. Stuart | <img class="footerPic" src="/img/krnlTransparent.png" alt="KRNL"></p>
        </footer>

        @*<img class="footerLogo" src="/img/krnlTransparent.png" alt="KRNL">
            <img class="footerLogo" src="/img/corn.png" alt="KRNL">*@
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
