@model IEnumerable<KRNL.Models.CooperatorListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Directory</h2>

<h4>
    @Html.ActionLink("Add Contact", "Create")
</h4>

@using (Html.BeginForm())
{
    <p>
        <div class="searchBar">
            @Html.TextBox("searchString")
            <input type="submit" value="Filter by LAST NAME" class="searchButton" />
        </div>
    </p>
}

<table class="table message">


    <tr class="messageHeader">
        <th class="messageHeader messageHeaderTopLeft">
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            Contact
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactType)
        </th>
        <th class="messageHeaderTopRight"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="spacer">
            <td class="spacer" colspan="3"></td>
        </tr>
        <tbody class="comment">
            <tr class="comment">
                <td class="messageLeftLocationCoop">
                    @*@Html.DisplayFor(modelItem => item.FullName)*@
                    @Html.ActionLink(item.FullName, "Edit", new { id = item.CooperatorId })
                </td>
                <td class="phoneDirectory">
                    @Html.DisplayFor(modelItem => item.Phone)<br/>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @switch (item.ContactType)
                    {
                        case KRNL.Data.contact.Employee:
                            <p class="employeeContactType">@Html.DisplayFor(modelItem => item.ContactType)</p>
                            break;
                        case KRNL.Data.contact.Cooperator:
                            <p class="cooperatorContactType">@Html.DisplayFor(modelItem => item.ContactType)</p>
                            break;
                        default:
                            break;
                    }
                </td>
                <td class="messageRightLocationCoop">
                    @*@Html.ActionLink("Details", "Details", new { id = item.CooperatorId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CooperatorId })*@
                </td>
            </tr>
        </tbody>

    }

</table>
