@model IEnumerable<KRNL.Models.CooperatorListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Directory</h2>

<h4>
    @Html.ActionLink("Add Contact", "Create")
</h4>

@using (Html.BeginForm())
{
    <p>
        <div class="searchBar">
            @Html.TextBox("searchString")
            <input type="submit" value="Filter by LAST NAME" class="searchButton" />
        </div>
    </p>
}

<table class="table message">


    <tr class="messageHeader">
        <th  width="42%" class="messageHeader messageHeaderTopLeft">
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th  width="42%">
            Contact
        </th>
        <th width="16%" class="messageHeaderTopRight"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="spacer">
            <td class="spacer" colspan="3"></td>
        </tr>
        <tbody class="comment">
            <tr class="comment">
                <td class="messageLeftLocationCoop">
                    <div class="messageLabel">Name:</div>
                    @Html.ActionLink(item.FullName, "Edit", new { id = item.CooperatorId })
                </td>
                <td class="phoneDirectory">
                    @Html.DisplayFor(modelItem => item.Phone)<br />
                    @Html.DisplayFor(modelItem => item.Email)<br />
                    @Html.DisplayFor(modelItem => item.ContactType)
                </td>
                <td class="messageRightLocationCoop alignRight">
                    <a href="@Url.Action("Delete", "Cooperator", new { id = item.CooperatorId})"><img class="editIcon" src="/img/idelete.png" alt="KRNL"></a>
                </td>
            </tr>
        </tbody>

    }

</table>
