@model KRNL.Models.LocationDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Location</h2>

<h3>Are you sure you want to delete this Location?</h3>
<div>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GDUs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GDUs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePlanted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePlanted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsStaked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsStaked)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
