@model KRNL.Models.LocationDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LocationDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GDUs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GDUs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePlanted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePlanted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsStaked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsStaked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
