@model KRNL.Models.LocationEdit

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div>
            <h2>
                @if (Model.Latitude != 0 && Model.Longitude != 0)
                {
                    <a href=@Model.MapLink target="_blank"><img class="locDirectionsPhoto" src="/Content/krnlpics/ilocation.png" /> @Html.DisplayFor(model => model.LocationCode)</a>
                }
                else
                {
                    <h2>
                        @Html.DisplayFor(model => model.LocationCode)
                    </h2>
                }
            </h2>
        </div>

        @if (Model.DocString != null)
        {
            <div class="toggleButton">
                <a href=@Url.Content(Model.DocString)><img class="jobCheckPicIcon" src="/Content/krnlpics/imap.png" alt="KRNL"></a>
            </div>
        }
        else
        {
            <div class="toggleButton">
                <img class="jobCheckPicIconGrey" src="/Content/krnlpics/imap.png" alt="KRNL">
            </div>
        }

        @if (Model.CooperatorId != null)
        {
            <div>
                <div class="messageLabel">Cooperator:</div>
                @Html.DisplayFor(model => model.FullName) <br />
                @Html.ActionLink("VIEW", "Edit", "Cooperator", new { id = Model.CooperatorId }, null) |
                @Html.ActionLink("CHANGE", "EditCoop", new { id = Model.LocationId }, null)
            </div>
        }

        @if (Model.CooperatorId == null)
        {
            <div>
                @Html.ActionLink("Assign Cooperator", "EditCoop", new { id = Model.LocationId })
            </div>
        }

        @if (Model.IsPlanted == KRNL.Data.stake.Yes || Model.IsHarvested == KRNL.Data.stake.Yes)
        {
            <br />
            <table>
                <tr>
                    <td>
                        @if (Model.IsPlanted == KRNL.Data.stake.Yes)
                        {
                            <div class="messageLabel">Planted:</div>
                            @Html.DisplayFor(model => model.DatePlanted)
                        }
                    </td>

                    <td class="tdDates">
                        @if (Model.IsHarvested == KRNL.Data.stake.Yes)
                        {
                            <div class="messageLabel">Harvested:</div>
                            @Html.DisplayFor(model => model.DateHarvested)
                        }
                    </td>

                    <td class="tdDates">
                        @if (Model.Rating != KRNL.Data.rating.NoRating)
                        {
                            <div class="messageLabel">Last Rating:</div>
                            switch (Model.Rating)
                            {
                                case KRNL.Data.rating.Excellent:
                                    <img class="ratingIcon" src="/Content/krnlpics/rexcellent.png" alt="KRNL">
                                    break;
                                case KRNL.Data.rating.AboveAverage:
                                    <img class="ratingIcon" src="/Content/krnlpics/raboveaverage.png" alt="KRNL">
                                    break;
                                case KRNL.Data.rating.Average:
                                    <img class="ratingIcon" src="/Content/krnlpics/raverage.png" alt="KRNL">
                                    break;
                                case KRNL.Data.rating.BelowAverage:
                                    <img class="ratingIcon" src="/Content/krnlpics/rbelowaverage.png" alt="KRNL">
                                    break;
                                case KRNL.Data.rating.Poor:
                                    <img class="ratingIcon" src="/Content/krnlpics/rpoor.png" alt="KRNL">
                                    break;
                                default:
                                    break;
                            }
                        }
                    </td>
                </tr>
            </table>
        }

        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            @Html.HiddenFor(model => model.LocationId, new { id = "locId" })
            @Html.HiddenFor(model => model.CooperatorId)
            @Html.HiddenFor(model => model.IsStaked)
            @Html.HiddenFor(model => model.IsHarvested)
            @Html.HiddenFor(model => model.IsPlanted)
            @Html.HiddenFor(model => model.IsRowbanded)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocationName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 enumDropDown">
                @Html.EnumDropDownListFor(model => model.State, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocationCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CRM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 enumDropDown">
                @Html.EnumDropDownListFor(model => model.CRM, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CRM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tag, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tag, new { htmlAttributes = new { @class = "form-control tagCreate" } })
                @Html.ValidationMessageFor(model => model.Tag, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="basicButton" />
            </div>
        </div>
    </div>
}

<br />
<br />

@if (Model.Documents != null && Model.Documents.Count() > 0)
{
    <table class="table message">
        <tr class="messageHeader">
            <th width="10%" class="messageHeader messageHeaderTopLeft">

            </th>
            <th width="20%">

            </th>
            <th width="20%">

            </th>
            <th width="42%">

            </th>
            <th width="8%" class="messageHeaderTopRight">Docs</th>
        </tr>

        @foreach (var item in Model.Documents)
        {
            <tr class="spacer">
                <td class="spacer" colspan="4"></td>
            </tr>
            <tbody class="comment">
                <tr tr class="comment">
                    <td class="messageLeftLocationCoop tdVertCenter">
                        <a target="blank" href=@Url.Content(item.DocString)><input type="button" value=" Open " class="basicButton" /></a>
                    </td>
                    <td>
                        @Html.HiddenFor(modelItem => item.DocumentId)
                        <div class="messageLabel">LocID:</div>
                        @Html.ActionLink(item.LocationCode.ToUpper(), "Edit", "Location", new { id = item.LocationId }, null)
                    </td>
                    <td class="tdVertCenter alignRight">
                        @if (item.DocType == KRNL.Data.docType.Map)
                        {
                            <img class="contactIcon" src="/Content/krnlpics/imap.png" alt="KRNL">
                        }
                        @if (item.DocType == KRNL.Data.docType.FieldBook)
                        {
                            <img class="contactIcon" src="/Content/krnlpics/ifieldbook.png" alt="KRNL">
                        }
                        @if (item.DocType == KRNL.Data.docType.Image)
                        {
                            <img class="contactIcon" src="/Content/krnlpics/ipicture.png" alt="KRNL">
                        }
                    </td>
                    <td>
                        <div class="messageLabel">Document:</div>
                        <div class="smallerFont">
                            @Html.DisplayFor(modelItem => item.DocName)
                        </div>
                    </td>
                    <td class="messageRightLocationCoop locStatusDots openDocButton">
                        <a href="@Url.Action("Delete", "Document", new { id = item.DocumentId})"><img class="editIcon" src="/Content/krnlpics/idelete.png" alt="KRNL"></a>
                    </td>
                </tr>
            </tbody>
        }

    </table>
}

<br />
<br />

@if (Model.Messages != null && Model.Messages.Count() > 0)

{
    <table class="table message">
        <tr class="messageHeader">
            <th width=15% class="messageHeaderTopLeft">
                @*@Html.DisplayNameFor(model => model.LocationCode)*@
            </th>
            <th width=15%>
                @*@Html.DisplayNameFor(model => model.DateCreated)*@
            </th>
            <th width=35%>
                @*@Html.DisplayNameFor(model => model.PredictedGrowthStage)*@
            </th>
            <th width=35% class="messageHeaderTopRight">
                Job/Requests
                @*@Html.DisplayNameFor(model => model.HumanGrowthStage)*@
            </th>
        </tr>

        @foreach (var item in Model.Messages)
        {
            <tr class="spacer">
                <td class="spacer" colspan="4"></td>
            </tr>
            <tbody class="comment">
                <tr class="messageTop">
                    <td class="message messageTopLeft" colspan="1">
                        <div class="messageLabel">Location:</div>
                        @Html.ActionLink(item.LocationCode.ToUpper(), "Edit", "Location", new { id = item.LocationId }, null)
                    </td>
                    <td class="message" colspan="1">
                        <div class="messageLabel">Date:</div>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td class="message " colspan="1">
                        <div class="messageLabel">Growth Stage:</div>
                        @Html.DisplayFor(model => item.HumanGrowthStage)
                    </td>
                    <td class="message messageTopRight alignRight" colspan="1">
                        <a href="@Url.Action("Edit", "Message", new { id = item.MessageId})"><img class="editIcon" src="/Content/krnlpics/iedit.png" alt="KRNL"></a>
                        <a href="@Url.Action("Delete", "Message", new { id = item.MessageId})"><img class="editIcon" src="/Content/krnlpics/idelete.png" alt="KRNL"></a>
                    </td>
                </tr>

                <tr>
                    <td colspan="1">
                        @if (item.IsRequest == KRNL.Data.noYes.Yes)
                        {
                            <a href="@Url.Action("CompleteRequest", "Message", new { id = item.MessageId})"><img class="jobCheckPicIcon" src="/Content/krnlpics/reqCheck.png" alt="KRNL"></a>
                        }
                        else
                        {
                            if (item.DocString != null)
                            {
                                <a target="blank" href=@Url.Content(item.DocString)><img class="jobCheckPicIcon" src="/Content/krnlpics/ipicture.png" alt="KRNL"></a>
                            }
                            else
                            {
                                <img class="jobCheckPicIconGrey" src="/Content/krnlpics/ipicture.png" alt="KRNL">
                            }
                        }
                    </td>
                    @if (item.Comment != null)
                    {
                        <td colspan="3">
                            <p class="comment">
                                @Html.DisplayFor(modelItem => item.Comment)
                            </p>
                        </td>
                    }
                    else
                    {
                        <td colspan="3"></td>
                    }
                </tr>


                <tr class="messageBottom messageBottomLeft">
                    <td colspan="2">
                        @if (item.FullName != null && item.IsRequest == KRNL.Data.noYes.No)
                        {

                            @Html.DisplayFor(modelItem => item.FullName)
                        }
                        else
                        {

                        }
                        <br />
                        @switch (item.Rating)
                        {
                            case KRNL.Data.rating.Excellent:
                                <img class="ratingIcon" src="/Content/krnlpics/rexcellent.png" alt="KRNL">
                                break;
                            case KRNL.Data.rating.AboveAverage:
                                <img class="ratingIcon" src="/Content/krnlpics/raboveaverage.png" alt="KRNL">
                                break;
                            case KRNL.Data.rating.Average:
                                <img class="ratingIcon" src="/Content/krnlpics/raverage.png" alt="KRNL">
                                break;
                            case KRNL.Data.rating.BelowAverage:
                                <img class="ratingIcon" src="/Content/krnlpics/rbelowaverage.png" alt="KRNL">
                                break;
                            case KRNL.Data.rating.Poor:
                                <img class="ratingIcon" src="/Content/krnlpics/rpoor.png" alt="KRNL">
                                break;
                            default:
                                break;
                        }
                    </td>

                    <td class="messageBottomRight alignRight vertBottom noBottom" colspan="2">
                        @switch (item.JobOne)
                        {
                            case KRNL.Data.job.Cultivating:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/iplow.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.DroneFlight:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/idrone.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.Harvesting:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/icombine.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.HerbicideSpraying:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/iherbicide.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.InsecticideSpraying:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/iinsecticide.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.NitrogenApplication:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/initrogen.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.Notes:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/inotes.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.PlantEarHeights:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/ipande.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.Planting:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/iplanter.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.Rowbanding:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/iband.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.Staking:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/istake.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.StandCounts:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/istandcounts.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.WeedManagement:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/ihoe.png" alt="KRNL">
                                break;
                            default:
                                break;
                        }

                        @switch (item.JobTwo)
                        {
                            case KRNL.Data.job.Cultivating:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/iplow.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.DroneFlight:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/idrone.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.Harvesting:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/icombine.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.HerbicideSpraying:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/iherbicide.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.InsecticideSpraying:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/iinsecticide.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.NitrogenApplication:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/initrogen.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.Notes:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/inotes.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.PlantEarHeights:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/ipande.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.Planting:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/iplanter.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.Rowbanding:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/iband.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.Staking:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/istake.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.StandCounts:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/istandcounts.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.WeedManagement:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/ihoe.png" alt="KRNL">
                                break;
                            default:
                                break;
                        }

                        @switch (item.JobThree)
                        {
                            case KRNL.Data.job.Cultivating:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/iplow.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.DroneFlight:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/idrone.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.Harvesting:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/icombine.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.HerbicideSpraying:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/iherbicide.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.InsecticideSpraying:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/iinsecticide.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.NitrogenApplication:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/initrogen.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.Notes:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/inotes.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.PlantEarHeights:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/ipande.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.Planting:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/iplanter.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.Rowbanding:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/iband.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.Staking:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/istake.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.StandCounts:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/istandcounts.png" alt="KRNL">
                                break;
                            case KRNL.Data.job.WeedManagement:
                                <img class="messageIcon vertBottom" src="/Content/krnlpics/ihoe.png" alt="KRNL">
                                break;
                            default:
                                break;
                        }
                    </td>
                </tr>
            </tbody>
        }
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
     $(document).ready(function () {
         $("#OpenMap").click(function () {
             var data = JSON.stringify({
                 'locId': locId,
                 'IsPrimary':true
             });
             $.ajax({
                 type: "POST",
                 url: '@Url.Action("OpenMap", "Location")',
                 data: data,
                 contentType: 'application/json'
             });
             window.open('/Location/OpenMap', "_blank")
        });
    });
</script>