@using KRNL.WebMVC.Controllers

@model IEnumerable<KRNL.Models.LocationListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Locations</h2>

<h4>
    @Html.ActionLink("Add Location", "Create")
</h4>



@using (Html.BeginForm())
{
    <p>
        <div class="searchBar">
            @Html.TextBox("searchString", (string)ViewBag.SearchString)
            <input type="submit" value=" Search " class="searchButton" />
        </div>
    </p>
}

<div class="searchBar toggleButton">
    <input type="button" value=" Toggle " class="searchButton" id="ToggleView" />
</div>

<table class="table message">

    <tr class="messageHeader">

            <th width=18% class="messageHeader messageHeaderTopLeft">
                @Html.ActionLink("LocID", "Index", new { sortOrder = ViewBag.LocIDSortParm, searchString = ViewBag.SearchString })
            </th>

            <th width=22%>
                @Html.ActionLink("GDUs", "Index", new { sortOrder = ViewBag.GDUSortParm, searchString = ViewBag.SearchString })
            </th>

            <th width=30%>
                @Html.ActionLink("Growth Stage", "Index", new { sortOrder = ViewBag.GrowthStageSortParm, searchString = ViewBag.SearchString })
            </th>
            <th width=30% class="messageHeaderTopRight"></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr class="spacer">
            <td class="spacer" colspan="4"></td>
        </tr>
        <tbody class="comment">
            <tr class="comment">

                <td width="10%" colspan="1" class="messageLeftLocationCoop">
                    <div class="messageLabel">LocID:</div>
                    @Html.ActionLink(item.LocationCode.ToUpper(), "Edit", new { id = item.LocationId })
                </td>
                <td colspan="1">
                    <div class="messageLabel">GDUs:</div>
                    @Html.DisplayFor(modelItem => item.GDUs)
                </td>
                <td colspan="1">
                    <div class="messageLabel">Growth Stage:</div>
                    @Html.DisplayFor(modelItem => item.GrowthStage)
                </td>
                <td colspan="1" class="messageRightLocationCoop locStatusDots">
                    @if (item.IsPlanted == KRNL.Data.stake.Yes && item.IsStaked == KRNL.Data.stake.No && item.IsRowbanded == KRNL.Data.stake.No && item.IsHarvested == KRNL.Data.stake.No)
                    {
                        <img class="locStatusDots" src="/img/dotsPLANTED.png" alt="KRNL">
                    }
                    else if (item.IsPlanted == KRNL.Data.stake.Yes && item.IsStaked == KRNL.Data.stake.Yes && item.IsRowbanded == KRNL.Data.stake.No && item.IsHarvested == KRNL.Data.stake.No)
                    {
                        <img class="locStatusDots" src="/img/dotsSTAKED.png" alt="KRNL">
                    }
                    else if (item.IsPlanted == KRNL.Data.stake.Yes && item.IsStaked == KRNL.Data.stake.Yes && item.IsRowbanded == KRNL.Data.stake.Yes && item.IsHarvested == KRNL.Data.stake.No)
                    {
                        <img class="locStatusDots" src="/img/dotsBANDED.png" alt="KRNL">
                    }
                    else if (item.IsPlanted == KRNL.Data.stake.Yes && item.IsStaked == KRNL.Data.stake.Yes && item.IsHarvested == KRNL.Data.stake.Yes)
                    {
                        <img class="locStatusDots" src="/img/dotsHARVESTED.png" alt="KRNL">
                    }
                    else
                    {
                        <img class="locStatusDots" src="/img/dotsNULL.png" alt="KRNL">
                    }
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.LocationId })*@
                </td>
            </tr>
        </tbody>
    }
</table>

<script src="~/Scripts/jquery-3.4.1.js"></script>


