@model IEnumerable<KRNL.Models.LocationListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Locations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



@using (Html.BeginForm())
{
    <p>
        <div class="searchBar">
            @Html.TextBox("searchString")
            <input type="submit" value="Filter by LocID" class="searchButton" />
        </div>
    </p>
}

@*@if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">

            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }*@

<table class="table">

    <tr>
        <th class="header">
            @*@Html.DisplayNameFor(model => model.LocationCode)*@
            @Html.ActionLink("LocID", "Index", new { sortOrder = ViewBag.LocIDSortParm })
        </th>
        <th class="header">
            @*@Html.DisplayNameFor(model => model.LocationName)*@
            @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSortParm })
        </th>
        @*<th>
                    @Html.DisplayNameFor(model => model.State)
            </th>*@
        <th class="header">
            @*@Html.DisplayNameFor(model => model.GDUs)*@
            @Html.ActionLink("GDUs", "Index", new { sortOrder = ViewBag.GDUSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrowthStage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.LocationCode.ToUpper(), "Edit", new { id = item.LocationId })
                @if (item.IsStaked == true)
                {
                    <img class="stakePhoto" src="/img/stake.png" alt="KRNL">
                }
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.LocationName)*@
                @Html.ActionLink(item.LocationName, "Edit", new { id = item.LocationId })
            </td>
            @*<td>
                        @Html.DisplayFor(modelItem => item.State)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.GDUs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrowthStage)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.LocationId })
            </td>
        </tr>
    }

</table>
